html, body
{
    margin: 0px; padding: 0px
}
.header{
    
    
    height:60px;
    width: 100%;

    background: rgb(204, 204, 204,0.3);
    white-space: nowrap;
    box-sizing: border-box;
}
.header >img{
    height: 32px;
    margin:15px;
}
.header> a{
    float:right;
    margin:20px;
}
.heading{
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 20px;
    color:rgb(190, 13, 13);
    border-bottom:1px solid rgb(204, 204, 204,0.3);
}
.formcontainer{
    margin:42px;
}
#title{
    font-size: 17px;
    font-weight: 500;
}
.input-box{
    margin-top: 18px;
    
}
.input-box > label{
    display: inline-block;
    
    width:200px
}
.input-box > .input-field{
    width:38%;
    height: 25px;
    border:1px  solid rgba(167, 165, 165, 0.7);
}
.input-field:focus{
    outline: 0.5px solid rgb(54, 140, 240);
    
}
.submit-button{
    display: inline-block;
    margin-top:100px;
    margin-left: 50%;
    
}
#btn{
    background-color: dodgerblue;
    border: transparent;
    width: 130px;
    height: 25px;
    color: white;
}